.cards-container {
  margin: auto;

  .col {
    @extend .l6;
    @extend .m12;
    @extend .s12;

    &:first-child {
      //@extend .offset-l1;
    }

    &:nth-child(3) {
      clear:both;
    }
  }
}

.flow-text {
  font-size: 1em;
}

.card .card-content {
  @extend .white-text;
}

.card {
  //@extend .card;
  margin-bottom: 1em;
  /* effects */
  border-radius: 10px;
  min-height: 200px;

  &:hover { @extend .z-depth-3; }
  .card-image {
    border-radius: 10px 10px 0px 0px;
    .youtube-video { margin: 0; padding: 0; }
  }

  .card-content .card-title {
    margin-bottom: 1em;
  }

  .card-content p {
    padding-top: 0.5em;
    }

  .card-action {
  }
}

.cards-container .col {
  .card { background-color: darken(#ef6c00, 10); }
  /*&:nth-child(1) .card { background-color: darken(#ef6c00, 5); }
  &:nth-child(2) .card { @extend .blue; @extend .darken-3;}
  &:nth-child(3) .card { background-color: $purple; }
  &:nth-child(4) .card { background-color: darken(#ef6c00, 5); }
  &:last-child .card { @extend .light-green; @extend .darken-3; }*/
}
