$section-bgcolor: whitesmoke;
$section-textcolor: #00575A;
$section-headingcolor: $section-textcolor;

$vision-background: #bb4a40;
$vision-textcolor: #ebe2d5;

@mixin section-color($textcolor,$background){
  background-color: $background;
  color: $textcolor;
  .strike span { background-color: $background; }
  .strike {
    color: $textcolor;
    &:before {
      border-color: $textcolor;
    }
  }
  h4 {
    border-color: $textcolor;
    color: $textcolor;
  }
}

//#our-vision { @include section-color(#333, #69D2E7); }
//#what-we-do { @include section-color(inherit,#FFFCD9);}

.section {
  //background-color: $section-bgcolor;
  margin: auto;
  color: $section-textcolor;

  p, ol {
    margin-bottom: 2em;
  }

  ol {
    list-style: inside decimal;
  }
}

.strike {
    color: $section-headingcolor;
    display: block;
    position: relative;
    text-align: center;
    z-index: 1;

  h2 {
    color: inherit;
  }

  &:before {
      border-top: 2px solid $section-headingcolor;
      content: "";
      position: absolute;
      top: 1em;
      left: 0;
      width: 100%;
      z-index: -1;
    }

    span {
      background: $section-bgcolor;
      padding: 0 20px;
    }
}

.youtube-video {
  text-align: center;
  margin: 1em auto;
}

.small-video-container {

  .small-video {
    @extend .col;

    h4 {
      margin: 0.5em;
      padding: 0.7em 0;
      text-align: center;
      color: $section-headingcolor;
      border-top: 2px solid $section-headingcolor;
      border-bottom: 2px solid $section-headingcolor;
    }

    &:first-child {
      @extend .s3;
      @extend .offset-s2;
      text-align: left;
    }

    &:nth-child(2) {
      @extend .s2;
      text-align: center;
    }

    &:last-child {
      @extend .s3;
      text-align: right;
    }
  }
}

blockquote {
  margin: 0;
  margin-left: 1.5em;
  float: right;
  width: 30%;
  border: none;
  .author {
    float: right;
    display: inline-block;
    &:before { content: "- "; }
  }
}
