//$events-color: #c6ff00;
//$about-color: #00bcd4;

@import "reset";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400);
@import "materialize/materialize";
@import "colors";
@import "cards";
@import "sections";
$card-link-color: blue; //color("light-blue", "darken-1") !default;

$events-color: white;
$about-color: white;

/* site backgorund */

html, body {
  font-size: 16px;
  height: 100%;
  background-image: url(../images/patterns/symphony.png);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.background-holder {
  width: 100%;
  height: 100%;
  position: absolute;

  #left, #right {  height: 100%; }
}

/* Header */
img.logo {
  display: block;
  margin: auto;
  width: 250px;
  z-index: -1;
  margin-top: 2em;
}

/* background image */
.background-bottom {
  height: 300px;
  width: 100%;
  background: url(../images/earth-2.png) no-repeat;
  background-position: center top;
  background-size: cover;
}
