//$events-color: #c6ff00;
//$about-color: #00bcd4;

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import "vendor/materialize-src/sass/materialize";
$card-link-color: blue; //color("light-blue", "darken-1") !default;

$events-color: white;
$about-color: white;



div, html, body, section {
  padding: 0;
  margin: 0;
  color: white;
}

/*
.holder {
  position: absolute;
  width: 100%;
  height: 100%;

  .left, .right {
    width: 50%;
    height: 100%;
    position: absolute;
    @extend .s12;
  }
}

div.left {
  left: 0;
  text-align: left;
  background-image: url(../images/pattern-flags.png );
  background-size: 50%;
}

div.left section {
  right: 0;
  left: auto;
  text-align: right;
  list-style-position: inside;
}

div.right {
  right: 0;
  background-image: url(../images/pattern-magnus.png);
  background-size: 50%;
}

div.right section {
  left: 0;
  right: auto;
  text-align: left;
}

section {
  margin: auto;
  position: absolute;
  top: 10%; bottom: 0;
  width: 50%;
  padding: 0em 4em;
}

.split {
  position: absolute;
  height: 100%;
  width: 1rem;
  left: 0; right: 0;
  margin: auto;
  background-color: orange;

  .logo-center {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 150px;
    z-index: 1;
  }
}
*/

h2 {
  color: white;
}

html, body {
  height: 100%;
  background-image: url(../images/patterns/symphony.png);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* specific styles */

.background-holder {
  width: 100%;
  height: 100%;
  position: absolute;

  #left, #right {  height: 100%; }
}

/*.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 70%;
  margin: auto;
}*/


#logo {
  position: relative;
  top: 30%;
  text-align: center;
}

.container {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}


.flow-text {
  font-size: 1em;
}

.card .card-content {
  @extend .white-text;
}

section {
  @extend .card;
  @extend .section;

  margin-bottom: 20px;

  .card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
  }

  .card-content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    }

  .card-action {
    font-family: 'Open Sans', sans-serif;
  }
}

#about {
  background-color: darken(#ef6c00, 5);
}

#events {
  @extend .blue;
  @extend .darken-3;
}

#community {
  background-color: rgba(#9c27b0,1);
}

#social {
  @extend .light-green;
  @extend .darken-3;
}

img.background-bottom {
  display: block;
  margin: auto;
  z-index: -11;
  width: 100%;
  margin-top: -20%;
}


img.logo {
  display: block;
  margin: auto;
  width: 250px;
  z-index: -1;
}

/* effects */
.card {
  border-radius: 10px;
  &:hover {
    @extend .z-depth-3;
  }
  min-height: 200px;
background-image: url(../images/patterns/crossword-transparent.png);
}


.strike {
  text-align: center;
  white-space: nowrap;
  color: #FFF;

  & span::before {
    right: 100%;
    margin-right: 15px;
  }

  & span::before, & span::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #FFF none repeat scroll 0% 0%;
  }
}
