<!-- start card -->
<article class="card" id="{{id}}">
  <div class="card-content">
    <span class="card-title">{{title}}</span>
    <p>{{description}}</p>
  </div>

  <div class="card-action">
    {{#actions}}
      <a href="{{{url}}}">{{title}}</a>
    {{/actions}}
  </div>
</article>
<!-- end card -->
