<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" media="all" href="css/front-page.css" />
</head>
<body>
  <header>
    <div class="row">
      <div class="col s12 l12 m12">
        <img src="images/focallocal-logo.png" class="logo">
      </div>
    </div>
  </header>

  {{#sections}}
    <div class="sections-container">
        {{> section}}
    </div>
  {{/sections}}

  <div class="background-bottom"></div>
<!-- Compiled and minified CSS -->
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
